@function rem($pxsize,$rembase:16){
  @return ($pxsize/$rembase) + rem};

@mixin desktop {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin tablets {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin phones {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin phone{
  @media (max-width: 320px) {
    @content;
  }
}

@mixin centered($axis: 'both') {
  position: absolute;
  @if ($axis == 'both') {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @if $axis == 'x' {
    left: 50%;
    transform: translateX(-50%);
  }
  @if $axis == 'y' {
    top: 50%;
    transform: translateY(-50%);
  }
}

%clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin transition($dur, $prop: all, $style: ease) {
  transition: $prop $dur $style;
}