.c-hero-bg.c-hero-bg_inner-color
    .user
        .user__pic-container
            img(src='assets/img/face.jpg', alt='avatar').user__pic
        .c-user__name Лайковская Валентина
        .c-user__desc Личный сайт разработчика

