.user
    .user__pic-container
        .user__name
            .user__margin
            .user__h
                img.user_pic(src='assets/img/face.jpg')
                img.stars(src='assets/img/stars.png')
                p Лайковская Валентина
                p.desc Личный сайт веб разработчика


