.stars-parallax.stars-parallax.stars-parallax_phone
    img.stars(src='assets/img/stars1.svg')
.user__hero-parallax.user__hero-parallax_media.user
    .user__pic
        img.user__pic-item(src='assets/img/face.jpg')
    .user__name Лайковская Валентина
    .user__desc Личный сайт веб разработчика



