.user-welcome
    .user-welcome__pic-container
        img(src='assets/img/face.jpg', alt='avatar').user-welcome__pic
    .user-welcome__name Лайковская Валентина
    .user-welcome__occ Личный сайт разработчика

