.c-hero__bg
    .l-hero__container
        img.c-hero__title-pic
        .c-user
            img.c-user__pic(src='../img/face.jpg', alt='avatar')
            .c-user__name Лайковская Валентина
            .c-user__occ Личный сайт веб-разработчика

