.contacts
    .block-title Контакты
    ul.contacts-list
        li.contacts-list__item
            .contacts-item estydaven
        li.contacts-list__item
            .contacts-item +375(29)5823133
        li.contacts-list__item
            .contacts-item esetnod1111@gmail.com
        li.contacts-list__item
            .contacts-item г.Гродно, ул.Репина 31

