.contact-me
    .block-title.block-title_color СВЯЗАТЬСЯ СО МНОЙ
    form.form(method='', action='')
        form.container
            input.form__input(name='name', placeholder='Ваше имя', required='')
            input.form__input(name='emailaddress', placeholder='Bаш email', type='email', required='')
            textarea.form__input.form__input_message(name='subject', placeholder='Ваше сообщение', required='')
        form.buttons
            button.form__btn(type='submit') Отправить
            button.form__btn(type='submit') Очистить
include ../common/arrow-up
