.c-contacts
    .c-contacts__title Контакты
    ul.c-contacts-list
        li.c-contacts-list__item
            .c-contacts-item estydaven
        li.c-contacts-list__item
            .c-contacts-item +375(29)5823133
        li.c-contacts-list__item
            .c-contacts-item esetnod1111@gmail.com
        li.c-contacts-list__item
            .c-contacts-item г.Гродно, ул.Репина 31

