.contacts
    .block-title Контакты
    ul.contacts-list
        li.contacts-list__item
            img.icon__contacts(src='assets/img/skype.png')
            .contacts-item estydaven
        li.contacts-list__item
            img.icon__contacts(src='assets/img/phone.png')
            .contacts-item +375(29)5823133
    ul.contacts-list
        li.contacts-list__item
            img.icon__contacts(src='assets/img/envelope.png')
            .contacts-item esetnod1111@gmail.com
        li.contacts-list__item
            img.icon__contacts(src='assets/img/map-contact.png')
            .contacts-item г.Гродно, ул.Репина 31

