footer.c-page-footer
    .c-page-footer__left
        p Этот сайт я сделала в рамках обучения в Школе
        p онлайн образования Loftschool
    include ../common/navigation
    include ../common/socials
    .c-page-footer__right
        p estydaven
        p esetnod1111@gmail.com
        p +375(29)5823133
        p г.Гродно, ул.Репина 31

