footer.page-footer
    .page-footer__left
        p Этот сайт я сделала в рамках обучения в Школе онлайн образования Loftschool
    .page-footer__center
        include ../common/navigation
        include ../common/socials-footer
    .page-footer__right
        p estydaven
        p esetnod1111@gmail.com
        p +375(29)5823133
        p г.Гродно, ул.Репина 31
.footer-author
    p &copy; Лайковская Валентина | создано с любовью в Loftschool | 2016
