nav.c-navigation
    ul.c-navigation-list
        li.c-navigation-item
            a.c-navigation-link(href='#') Мои работы
        li.c-navigation-item
            a.c-navigation-link(href='#') Обо мне
        li.c-navigation-item.c-navigation-item_choused
            a.c-navigation-link(href='#') Блог

