.navigation__welcome
    nav.navigation
        ul.navigation-list
            li.navigation-item.navigation-item_line
                a.navigation-link(href='works.html') Мои работы
            li.navigation-item.navigation-item_line
                a.navigation-link(href='index.html') Обо мне
            li.navigation-item.navigation-item_line
                a.navigation-link(href='blog.html') Блог

