nav.nav
    ul.nav-list
        li.nav-item
            a.nav-link(href='#') Мои работы
        li.nav-item
            a.nav-link(href='#') Обо мне
        li.nav-item
            a.nav-link(href='#') Блог
        li.nav-item_current
            a.nav-link(href='#') Авторизация
