nav.nav
    ul.nav-list
        li.nav-item
            a.nav-link(href='works.html') Мои работы
        li.nav-item
            a.nav-link(href='about.html') Обо мне
        li.nav-item
            a.nav-link(href='blog.html') Блог
        li.nav-item_current
            a.nav-link(href='index.html') Авторизация
