ul.c-socials-welcome
    li.c-socials-welcome__item
        a.c-socials-welcome__link
            svg.icon-vk
    li.c-socials.welcome__-item
        a.c-socials.welcome__-link
            svg.icon-github
    li.c-socials.welcome__-item
        a.c-socials.welcome__-link
            svg.icon-in

