ul.c-socials-welcome
    li.c-socials-welcome__item
        a.c-socials-welcome__link
    li.c-socials.welcome__-item
        a.c-socials.welcome__-link
    li.c-socials.welcome__-item
        a.c-socials.welcome__-link

