.section-about{
  height: 100vh;
  min-height: 610px;
  overflow: hidden;
  position: relative;


  @include tablets{
    min-height: 600px;
  }

}

.bg-parallax{
  position: absolute;
  top: -15%;
  left: 0;
  right: 0;
  z-index: -1;
  height: 140%;
}

.parallax-img{
  width: 100%;
  height: 100%;
}

.socials {
  margin-left: rem(20);
  display: inline-block;

}

.socials-list {
  margin: 0;
  padding: 0;

}

.socials__item{
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  list-style: none outside none;
  padding: rem(15);
}

.socials__link{
  width: rem(53);
  height: 55px;
  display: block;
  padding-top: rem(10);
  color: #ffffff;
}

.icon {
  width: rem(25);
  height: 35px;
  display: inline-block;
  fill: #ffffff;

  &:hover{
    fill: #0548be;
  }

}

.arrow{
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  margin-top: rem(250);
}

.arrow_ar{
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  margin-top: rem(150);
}


.arrow-down__img{
  width: rem(53);
  height: 55px;
  padding-top: rem(10);
  color: #ffffff;
}

.arrow-down__pic{
  width: rem(20);
  height: 20px;
  fill: #ffffff;
}



.stars-parallax{
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: rem(-100);
  text-align: center;
  z-index: 5;
  min-height: 200px;
}

.user__hero-parallax{
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: rem(-100);
  z-index: 10;
}

.user{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user__name{
  font-size: rem(35);
  color: #ffffff;
  line-height: 1.333;
  margin: 0 auto;
  font-family: 'robotomedium';
  text-transform: capitalize;
  text-align: center;
}

.user__desc{
  font-size: rem(16);
  font-family: 'robotoregular';
  color: #ffffff;
}

.user__pic{
  border-radius: 50%;
  overflow: hidden;
  height: 142px;
  width: 142px;
  z-index: 5;
}

.user__pic-item{
  width: 100%;
}

.stars{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: rem(470);
  height: 275px;
  opacity: 0.3;
  display: inline-block;
}

.about{
  @extend %clearfix;
  width: 100%;
  display: flex;
  align-items: stretch;
  position: relative;

  @include tablets{
    display: block;
  }
 }

.about__col {
  float: left;
  width: 50%;
  position: relative;

  @include tablets{
    float: none;
    width: 100%;
    position: static;
  }

  &_left {
    background: #f2f0e8;

    .about__triangle {
      left: 0;
      fill: #f2f0e8;
    }
  }

  &_right {
    background: #eae8e2;

    .about__triangle {
      right: 0;
      fill: #eae8e2;

      @include tablets{
        fill: #f2f0e8;
      }

    }
  }
}

.about__triangle {
  display: block;
  width: 100%;
  height: 110px;
  position: absolute;
  bottom: 100%;

  @include tablets{
    width: 50%;
  }
}

.about-user{
  width: 50%;
  float: right;

  @include desktop{
    float: none;
    display: block;
    margin: 0 auto;
    width: auto;
  }
  @include phones{
    width: 100%;
  }
}

.section-title_fl_left{
  font-size: rem(63);
  text-align: center;
  float: left;
  width: 50%;
  position: relative;

  @include desktop{
    float: none;
    width: auto;
  }
}

.main-title_about{
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-family: sansus_webissimoregular;
  font-size: rem(63);
  line-height: 1;
  color: #474b57;
  position: absolute;

  @include phones{
    margin: 0 auto;
    display: block;
    width: 100%;
    z-index: auto;
    float: none;
    position: static;
    padding: rem(40);
  }
}

.stars3{
  width: 100%;

  @include desktop{
    width: auto;
  }
  @include phones{
    display: none;
  }
}

.about__pic{
  width: rem(380);
  height: auto;
  margin: 0 auto;

  @include phones{
    width: 100%;
  }

}

.about__img{
  width: 100%;
}

.block-title{
  font-family: sansus_webissimoregular;
  font-size: rem(35);
  color: #474b57;
  text-align: center;
  width: rem(300);
  margin: 0 auto;
  padding-bottom: rem(20);
  background: url(../img/line.png)bottom center no-repeat;

  @include tablets{
    width: 100%;
  }
}

.block-text{
  font-family: 'robotoregular';
  font-size: rem(16);
  color: #474b57;
  padding-top: rem(10);
  line-height: 1.5;

  @include desktop{
    margin: 0 auto;
    width: 70%;
  }
  @include phones{
    width: 100%;
    padding-left: rem(10);
    font-size: rem(20);
  }
}

.block-text p{
  padding-bottom: rem(20);
}

.skills__text{
  font-family: 'robotoregular';
  font-size: rem(16);
  color: #474b57;
  padding-top: rem(10);
  line-height: 1.5;
  margin-left: rem(30);

  @include phones{
    width: 100%;
    font-size: rem(20);
  }

}

.skills-group{
  width: 100%;
  margin-left: rem(30);
}

.skills{
  padding-right: rem(40);
  padding-top: rem(60);
}

.skills-group__title{
  font-size: rem(28);
  font-family: 'Roboto';
  color: #474b57;

  @include tablets{
    text-align: center;
  }

}

.skills-group__item{
  width: 100%;
}

.skills-list{
  display: flex;
  flex-direction: row;
  width: 100%;

  @include tablets{
    display: flex;
    justify-content: center;
  }
  @include phones{
    width: 70%;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}

.skills-list__item{
  padding-right: rem(40);
  @include desktop{
    padding-right: rem(15);
  }
  @include phones{
    margin-right: rem(50);
  }

}

.skill{
  height: 110px;
  margin-bottom: rem(30);
  position: relative;
  display: inline-block;
  &:nth-last-child(1),
  &:nth-last-child(2) {
    margin-bottom: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }

}

.skill__circle{
  width: rem(100);
  height: 100px;
  display: block;
  fill: transparent;
  stroke-width: 15;

  @include phones{
    width: rem(160);
  }

}

.skills__circle-under{
  stroke: #dfdcd5;
}

.skills__circle-above{
  stroke: #1056d1;
  stroke-dasharray: 160,25;
}

.skill_title{
  font-size: rem(12);
  font-weight: 500;
  font-family: 'robotomedium';
  color: #243994;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);

}

.l-contacts {
  position: relative;
  height: 100vh;
}

.map{
  height: 120%;
  width: 100%;
  overflow: hidden;
  margin-bottom: rem(-200);
  display: flex;
  justify-content: center;
  align-items: center;
}


.contacts{
  @include centered();
  top: 35%;
  width: rem(580);
  text-align: center;
  background: rgba(255, 255, 255, 0.8);


  @include phones{
    width: 100%;
    background: #ffffff;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
}

.contacts-list{
  width: 50%;
  float: left;
  @include tablets{
    width: 100%;
    float: none;
  }
}

.contacts-list__item{
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: rem(30);

  @include phones{
    padding: rem(10);
  }
}

.icon__contacts{
  width: rem(30);
  height: 30px;
  float: left;

  @include phones{
    width: rem(50);
    height: 45px;
  }

}

.contacts-item{
  color: #6b6e78;
  font-family: 'robotomedium';
  font-size: rem(15);
  text-align: start;
  padding-left: rem(10);
  display: inline-block;
  @include phones{
    font-size: rem(20);
  }
}

.page-footer{
  height: 190px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(60, 62, 71, 0.8);
  @include phones{
    height: 250px;
  }
}

.footer-author{
  background: rgba(43, 87, 164, 0.8);
  width: 100%;
  text-align: center;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  font-size: rem(16);
  font-family: 'robotomedium';
  height: 40px;
  padding: rem(10);
}

.page-footer__left{
  text-align: left;
  color: #ffffff;
  font-family: 'robotolight';
  font-size: rem(16);
  width: 33%;
  margin-left: rem(16);
  bottom: rem(115);
  float: left;
  display: inline-block;
  margin-top: rem(40);
  padding-right: rem(25);

  @include tablets{
    float: none;
    width: 100%;
    text-align: center;
    padding: rem(5);
    border-bottom: 2px solid #97989d;
    margin-top: auto;
    display: block;
  }
  @include phones{
    margin: auto;
  }
}

.page-footer__right{
  text-align: left;
  color: #ffffff;
  font-family: 'robotolight';
  font-size: rem(16);
  bottom: rem(70);
  float: left;
  margin-left: rem(30);
  margin-top: rem(35);

  @include tablets{
    float: right;
    text-align: right;
    margin-left: auto;
    margin-top: rem(10);
    bottom: auto;
    margin-right: rem(20);
    width: auto;
    margin-left: 0;
  }
  @include phones{
    bottom: auto;
    margin: auto;
    width: 100%;
    float: none;
    height: 100px;
    text-align: center;
  }
}

.page-footer__center{
  width: 33%;
  bottom: rem(70);
  float: left;
  margin-top: rem(40);
  height: auto;
  border-right: 2px solid #97989d;
  border-left: 2px solid #97989d;

  @include tablets{
    border: none;
    margin-top: rem(10);
    width: 50%;
  }
  @include phones{
    width: 100%;
    text-align: center;
    float: none;
    margin: 0 auto;
    border-bottom: 2px solid #97989d;
    height: 80px;
    bottom: auto;
  }

}

.nav{
  @include phones{
    width: 70%;
    margin: 0 auto;
  }
}

.nav-link{
  text-decoration: none;
  color: #ffffff;
  font-family: 'robotobold';
  font-size: rem(15);
  float: left;
  margin-left: rem(20);


  &:hover{
    color: #7e97c2;
  }
  
}

.socials-footer{
  float: left;
  margin-right: rem(100);

 }

.socials-footer__link{
  width: rem(53);
  height: 55px;
  display: block;
  padding-top: rem(10);
  color: #ccc;

  @include phones{
    padding-top: 0;
  }

}

.socials-footer__list{
  margin-top: rem(30);
  margin-left: rem(20);
}

.socials-footer__item{
  display: inline-block;
  margin-right: rem(30);
}

.icon-footer{
  fill: #9e9fa3;
  width: rem(25);
  height: 25px;

  &:hover{
    fill: #004cd1;
  }
}