.blog-title{
  min-height: 600px;
}

.blog {
  position: relative;
  @extend %clearfix;
  width: 100%;
  margin-bottom: rem(200);
}

.title{
  font-family: 'sansus_webissimoregular';
  font-size: rem(63);
}

.blog__triangle {
  display: block;
  width: 100%;
  height: 110px;
  position: absolute;
  bottom: 100%;
}

.left__triangle {
  fill: #faf8f0;
}

.right__triangle{
  fill: #faf8f0;
}

.blog-container {
  padding: rem(70) rem(70) 0;
  margin-bottom: rem(200);
  font-family: 'robotoregular';
  transition: .5s;
  position: relative;
}

.sidebar {
  width: 22.77778%;
  text-align: right;
  float: left;


  @include tablets{
    float: none;
    position: absolute;
    top: 0;
    right: 100%;
    height: 100%;
    width: rem(250);
    z-index: 100;
    background-color: #0e55d2;
  }
  @include phones{
    &:after{
      right: rem(-9);
    }
  }
}


.articles {
  width: 72.77778%;
  float: right;

  @include tablets{
    width: 100%;
    float: none;
    padding-bottom: rem(70);
  }

}



.blog-menu__item {
  margin-bottom: rem(10);
  &:last-child{
    margin-bottom: 0;
  }
}

.blog-menu__link {
  display: inline-block;
  padding: rem(14) rem(17);
  transition: .5s all ease-out;
  border-right: 3px solid transparent;
  text-decoration: none;
  color: #455a64;

  &:hover{
    border-right-color: #083c96;
    color: #083c96;
  }
  &_active{
    border-right-color: #083c96;
    color: #083c96;
  }

  @include tablets{
    color: rgba(#fff, 0.7);

    &:hover{
      color: #ffffff;
    }
    &:active{
      color: #ffffff;
      font-family: 'robotobold';
      font-size: rem(16);
    }
  }
}



.sidemenu-btn{
  display: block;
  width: rem(60);
  height: 60px;
  background-color: #0e55d2;
  box-shadow: 0 0 3px 3px rgba(#000, .2);
  border-radius: 50%;
  position: absolute;
  right: rem(-15);
  cursor: pointer;

  &_disabled{
    display: none;

    @include tablets{
      display: block;
    }
  }
}

.articles__list {
  width: 100%;
  padding: 0 rem(20);
}

.articles__item {
  position: relative;
  margin-bottom: rem(23);
  padding-bottom: rem(20);

  &after{
    content: '';
    display: block;
    width: rem(681);
    height: 5px;
    background-color: rgba(55, 62, 66, 0.1);
    position: absolute;
    bottom: 0;
  }
  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  &:last-child:after {
    display: none;
  }
}

.post__head {
  margin-bottom: rem(27);
}

.post__title {
  font-family: 'sansus_webissimoregular';
  font-size: rem(35);
  color: #474b57;
  margin-bottom: rem(30);
}

.post__date {
  color: #7e97c2;
}

.post__content p {
  margin-bottom: rem(20);
}

.code-viewer{
  width: 100%;

  &:before{
    content: "Code:";
    display: block;
    font-size: rem(12);
    background: #ffffff;
  }
}

.code__pic{
  width: 100%;
}

.post-line{
  background: url(../img/post-line.png)center left no-repeat;
  width: 100%;
  height: rem(10);
  padding-top: rem(30);
}

.blog-footer{
  width: 100%;
  height: auto;
  position: relative;
}
