.welcome-wrapper{
  overflow: hidden;
  position: relative;
  min-height: 100%;
  min-width: rem(300);
  width: 100%;
}

.page-wrapper{
  height: 100%;
  min-height: 500px;
}

/* parallax */

.parallax{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.parallax-layer{
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 50%;

}

.parallax-pic{

}

.contain{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.contain-welcome{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.c-button{
  width: rem(180);
  height: 50px;
  position: absolute;
  right: rem(20);
  top: rem(20);
  margin-top: rem(20);
  padding: rem(10) rem(30);
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  text-align: center;
  display: block;
  transition: .3s;

  &:hover{
    border: none;
    background-color: #083c96;
    cursor: pointer;
  }

  @include phones{
    right: 50%;
    transform: translateX(50%);
    margin-top: rem(20);
  }
}

.bg-video{
  min-width: 100%;
  margin-bottom: rem(-200);
  z-index: 5;
}

.avatar{
  width: 25%;
  margin: 0 auto;
  margin-top: rem(150);
  position: relative;

  @include phones{

  }
  @include phone{


  }
}

.l-wrapper-avatar{
  width: 380px;
  height: 390px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 1;
  background: rgba(30, 46, 74, 0.7);
}

.user-welcome{
  margin-top: 10px;
  text-align: center;
  width: 100%;
  padding-top: rem(10);
}

.user-welcome__pic-container{
  width: 147px;
  height: 147px;
  border-radius: 50%;
  margin-bottom: 25px;
  overflow: hidden;
  display: inline-block;

}

.user-welcome__pic{
  width: 100%;
}

.user-welcome__name {
  font-size: 28px;
  text-align: center;
  font-family: 'robotomedium';
  color: #ffffff;
}

.user-welcome__occ{
  font-size: 16px;
  text-align: center;
  font-family: "Roboto";
  color: #ffffff;
}



.c-wrapper-avatar__copyright {
  width: 100%;
  text-align: center;
  color: #e1e2e5;
  position: relative;
  z-index: 1;

  font-size: 16px;
  font-family: 'robotolight';
}

.socials__welcome{
  text-align: center;
  position: absolute;
  top: 250px;
  left: 100px;
}

.socials-welcome__item{
  display: inline-block;
  vertical-align: middle;
  padding: 20px;
 }

.icon-welcome{
  width: 25px;
  height: 35px;
  display: inline-block;
  fill: #0b45aa;

  &:hover{
    fill: #0548be;
  }

}

.navigation__welcome{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #7296d3;
}

.navigation-list{
  display: inline-block;
}

.navigation-item {
  display: inline-block;

}
.navigation-link{
  display: inline-block;
  padding: 10px 30px;
  background-color: #0548be;
  text-decoration: none;
  color: #ffffff;
  font-family: 'robotomedium';
  font-size: 16px;
  transition: .3s;

  &:hover{
    background-color: #083c96;
  }

}

.inner-container{
  width: 380px;
  height: 390px;
  position: relative;
  display: flex;
  flex-direction: column;
  background: rgba(30, 46, 74, 0.7);
  margin: 0 auto;
}

.inner-title{
  font-size: rem(35);
  color: #ffffff;
  font-family: 'sansus_webissimoregular';
  padding: rem(10);
  text-align: center;
}

.form-inner{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-input{
  width: 90%;
  border-radius: 4px;
  margin-bottom: rem(20);
}

.icon-inner{
  float: left;
  background: #f0efe9;
  width: rem(40);
  height: 40px;
  position: relative;
  border-radius: 4px 0 0 4px;
}

.icon-svg{
  width: rem(20);
  height: 20px;
  fill: #c4cbcd;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.input-inner{
  width: 88%;
  height: 40px;
  padding-left: rem(5);
  border: none;
  border-radius: 0 4px 4px 0;
}

input[type="checkbox"], input[type="radio"] {
  display: none;
}
input[type="radio"] + label, input[type="checkbox"] + label {
  cursor: pointer;
}

.checkbox-inner{
  position: relative;
  padding: rem(15);
  margin: 0 auto;
}

.checkbox-label{
  cursor: pointer;
  font-family: 'robotoregular';
  font-size: rem(16);
  color: #ffffff;
  padding-left: rem(20);

  &:before{
    content: "";
    display: block;
    position: absolute;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    top: 50%;
    right: 90%;
    transform: translateY(-50%);
    background-color: #0548be;
  }
  &:after{
    content: "";
    width: 8px;
    height: 8px;
    background: url(../img/check.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    right: 89%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 2;
    transition: .3s;
  }

}

.checkbox-question{
  text-align: center;
  font-size: rem(16);
  font-family: 'robotobold';
  color: #ffffff;
  margin-bottom: rem(15);
}

.radio-inner{
  margin: 0 auto;
}

.radiobox-inner{
  position: relative;
  display: inline-block;
  margin-left: rem(20);
}

.radio-label{
  cursor: pointer;
  font-family: 'robotoregular';
  font-size: rem(16);
  color: #ffffff;
  padding-left: rem(20);

  &:before{
    content: "";
    display: block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    @include centered(y);
  }
  &:after{
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #0548be;
    position: absolute;
    top: 50%;
    left: rem(4.5);
    transform: scale(0);
    transition: .3s;
    margin-top: rem(-3.3);
  }
}

input[type="radio"]:checked+.radio-label::after {
  transform: scale(1);
}
input[type="checkbox"]:checked + .checkbox-label::after {
  display: block;
}

.navigation__inner{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #7296d3;
  width: 100%;
}

.inner-list{
  display: inline-block;
  width: 100%;
}

.inner-item {
  display: inline-block;
  width: 100%;

}
.inner-link{
  display: inline-block;
  padding: 10px 30px;
  background-color: #0548be;
  text-decoration: none;
  color: #ffffff;
  font-family: 'robotomedium';
  font-size: 16px;
  transition: .3s;
  text-align: center;
  width: 50%;

  &_two{
    border-left: 2px solid #7296d3;
  }

  &:hover{
    background-color: #083c96;
  }
}


  /*  Flip */

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
  margin: 0 auto;
  align-self: center;
  width: 100%;
}
/* flip the pane when hovered */
.flip-container.hover .flipper, .flip-container.flip .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 100%;
  height: 395px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}