

.works__col{
  margin-top: rem(380);
}

.left{
  fill: rgba(13, 15, 31, 0.5);
  border: 0;
  }

.right{
  fill: rgba(13, 15, 31, 0.5);
  border: 0;
  }

.main-title{
  width: 100%;
  text-align: center;
  margin: rem(20) 0;
  font-family: sansus_webissimoregular;
  font-size: rem(63);
  line-height: 1;
  color: #ffffff;
  position: absolute;

  @include phones{
    width: 70%;
    margin-left: rem(100);
  }
}

.stars2{
  height: 160px;
  display: block;
  margin: 0 auto;
}

.section-title__works {
  height: 200px;
  width: 100%;
  display: block;
  background-color: rgba(13, 15, 31, 0.5);
  margin-top: rem(-6);
}

.section-title__work{
  height: 200px;
  width: 100%;
  display: block;
  padding-top: rem(20);
}

.portfolio{
  @extend %clearfix;
  width: 100%;
  min-height: 800px;
  height: 100vh;

  @include tablets {
    height: auto;
  }
  @include phones{
    margin-bottom: rem(-130);
  }
}

.column {
  width: 50%;
  position: relative;
  float: left;

  &_left{
    background-color: #f2f0e8;
  }
  &_right{
    background-color: #e3e2de;
  }
}

.portfolio__column {
  height: 100%;

  @include tablets{
    float: none;
    width: 100%;
    }
}

.work{
  @include centered();
  @include tablets{
    position: static;
    transform: translate(0, 0);
    margin: 0 auto;
    padding: rem(30) 0;
  }
}

.work__technology {
  position: relative;
  padding: rem(10) rem(20);
  text-transform: uppercase;
  color: #083c96;
  margin-bottom: rem(40);
  text-align: center;
  font-family: 'robotomedium';
  font-size: rem(16);
}

.work__link {
  display: block;
  width: rem(200);
  height: 40px;
  padding: rem(10);
  background-color: #004cd1;
  border-radius: 4px;
  margin: 0 auto;
  color: #fff;
  text-decoration: none;
  text-align: center;

  &:hover{
    background-color: #0e55d2;
  }
}

.work__slider{
  height: 100%;

}

.work__icon{
  width: rem(20);
  height: 20px;
  fill: #ffffff;
  float: left;
  vertical-align: middle;
}

.work__preview {
  width: 100%;
  height: 70%;
  margin: 0 auto;
  padding: rem(43) rem(43);
  position: absolute;
  left: 100%;
  z-index: 100;

  @include tablets{
    position: static;
    width: 100%;
  }
}

.work__pic {
  max-width: 100%;
  max-height: 100%;

  @include tablets{
    width: 80%;
  }
}

.work__toggle{
  @extend %clearfix;
  height: 30%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  @include tablets{
    position: static;
    height: auto;
  }

}
.toggle {
  height: 100%;
  position: relative;

  &:before{
    content: "";
    display: table;
  }
  &:after{
    content: "";
    display: table;
  }
}

.toggle__link {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(55, 62, 66, 0.4);

  &_prev {
    &:hover {
      .toggle__icon {
        transition: .5s;
        top: 65%;
      }
    }
  }
  &_next {
    &:hover {
      .toggle__icon {
        transition: .5s;
        top: 35%;
      }
    }
  }

}

.toggle__pic {
  max-width: 100%;
  max-height: 100%;
}

.toggle__icon{
  width: rem(43);
  height: 27px;
  fill: #ffffff;
  transition: .2s;
  position: absolute;
  top: 50%;
  left: 50%;
}

.about-me{
  width: 100%;
  height: auto;
  background-image: url(../img/lighth.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.section-opinion{
  position: relative;
  width: 50%;
  margin: 0 auto;
  color: #ffffff;

  @include tablets{
    width: 90%;
  }
  @include phones{
    width: 80%;
  }
}

.opinion{
  width: 50%;
  float: left;
  font-family: 'robotoitalic';
  font-size: rem(16);
  padding: rem(10);

  @include phones{
    width: 100%;
    float: none;
    font-size: rem(20);
  }
}

.opinion__text{
  background-image: url(../img/quote.png);
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: rem(20);
}

.text{
  font-family: 'robotobold_italic';
}

.opinion__text-author{
  padding: rem(30);
  text-align: center;
}

.opinion__img{
  width: 70px;
  height: 70px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;

  @include tablets{
    margin-bottom: rem(20);
  }
}

.opinion__pic{
  width: 100%;
}

.contact-me{
  position: relative;
  width: rem(380);
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  padding-top: rem(35);
  background: rgba(28, 27, 31, 0.5);
  margin-bottom: rem(300);

  @include phones{
    width: 100%;
  }
}
.block-title_color{
  color: #ffffff;
}

.container{
  padding: 0 rem(20);
}

.form__input{
  width: 80%;
  padding: rem(17) rem(19);
  outline: none;
  border: none;
  color: #ffffff;
  background: rgba(43, 41, 50, 0.5);
  margin-bottom: rem(20);

  &_message{
    height: 140px;
    resize: none;
  }
}

.buttons{
  display: flex;
  justify-content: space-between;
}

.form__btn{
  width: 50%;
  padding: rem(15) 0;
  text-decoration: none;
  font-family: 'robotomedium';
  text-align: center;
  color: #fff;
  position: relative;
  bottom: 0;
  background: rgba(28, 27, 31, 0.1);
  border: none;
  cursor: pointer;

    &:hover{
      background: #004cd1;
    }
}

.arrow-up__img{
  width: 100%;
}

.arrow-up__pic{
  width: rem(20);
  height: 20px;
  fill: #ffffff;
}

