.section-works{
  min-height: 810px;
  overflow: hidden;
  position: relative;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  height: 810px;
}

.works__col{
  padding-top: 30px;
}

.left{
  fill: rgba(13, 15, 31, 0.5);
  border: 0;
  }

.right{
  fill: rgba(13, 15, 31, 0.5);
  border: 0;
  }

.triangle{
  border: 0;
}

.main-title{
  width: 100%;
  text-align: center;
  margin: 20px 0;
  font-family: sansus_webissimoregular;
  font-size: 63px;
  line-height: 1;
  color: #ffffff;
  position: absolute;
}

.stars2{
  height: 160px;
  display: block;
  margin: 0 auto;

}

.section-title__works {
  height: 200px;
  width: 100%;
  display: block;
  background-color: rgba(13, 15, 31, 0.5);
  margin-top: -6px;
}

.section-title__work{
  height: 200px;
  width: 100%;
  display: block;
  padding-top: 20px;

}

.portfolio{
  width: 100%;
  height: 100%;
  position: relative;
}

.column {
  width: 50%;
  position: relative;
  float: left;

  &_left{
    background-color: #f2f0e8;

  }
  &_right{
    background-color: #e3e2de;

  }

}

.portfolio__column {
  position: relative;
  float: left;
  height: 800px;
}

.work{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 46.66667%;
}

.work__technology {
  position: relative;
  padding: 18px 20px;
  text-transform: uppercase;
  color: #083c96;
  margin-bottom: 40px;
  text-align: center;
  font-family: 'robotomedium';
  font-size: 16px;
}

.work__link {
  display: block;
  width: 200px;
  height: 40px;
  padding: 10px;
  background-color: #004cd1;
  border-radius: 4px;
  margin: 0 auto;
  color: #fff;
  text-decoration: none;
  text-align: center;

  &:hover{
    background-color: #0e55d2;
  }

}

.work__icon{
  width: 20px;
  height: 20px;
  fill: #ffffff;
  float: left;
  vertical-align: middle;
}

.work-slider{
  width: 100%;
  height: 800px;
  position: relative;
}

.work__preview {
  width: 645px;
  height: 525px;
  margin: 0 auto;
  padding: 43px 0 66px;
  }



.work__pic {
  max-width: 100%;
  max-height: 100%; }

.work__toggle{
  @extend %clearfix;
  height: 225px;
}
.toggle {
  height: 225px;
  position: relative;

  &:before{
    content: "";
    display: table;
  }
  &:after{
    content: "";
    display: table;
  }

}

.toggle__link {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(55, 62, 66, 0.4);

  &_prev {

    &:hover {
      .toggle__icon {
        transition: .5s;
        top: 65%;
      }
    }
  }
  &_next {
    &:hover {
      .toggle__icon {
        transition: .5s;
        top: 35%;
      }
    }
  }

}

.toggle__pic {
  max-width: 100%;
  max-height: 100%; }

.toggle__icon{
  width: 43px;
  height: 27px;
  fill: #ffffff;
  transition: .2s;
  position: absolute;
  top: 50%;
  left: 50%;
}

.about-me{
  width: 100%;
  height: auto;
  background-image: url(../img/lighth.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.section-opinion{
  position: relative;
  width: 50%;
  margin: 0 auto;
  color: #ffffff;
}

.opinion{
  width: 50%;
  float: left;

  font-family: 'robotoitalic';
  font-size: 16px;

}

.opinion__text{
  background-image: url(../img/quote.png);
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 20px;
}

.text{
  font-family: 'robotobold_italic';
}

.opinion__text-author{
  padding: 30px;
  text-align: center;
}

.opinion__img{
  width: 70px;
  height: 70px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;

}

.opinion__pic{
  width: 100%;
}

.contact-me{
  position: relative;
  width: 380px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  padding-top: 35px;
  background: rgba(28, 27, 31, 0.5);
  margin-bottom: 300px;
}
.block-title_color{
  color: #ffffff;
}

.container{
  padding: 0 20px;
}

.form__input{
  width: 80%;
  padding: 17px 19px;
  outline: none;
  border: none;
  background: rgba(43, 41, 50, 0.5);
  margin-bottom: 20px; }
  .form__input_message{
    height: 140px;
    resize: none;
  }

.buttons{
  display: flex;
  justify-content: space-between;
}

.form__btn{
  width: 50%;
  padding: 15px 0;
  text-decoration: none;
  font-family: 'robotomedium';
  text-align: center;
  color: #fff;
  position: relative;
  bottom: 0;
  background: rgba(28, 27, 31, 0.1);
  border: none;
  cursor: pointer;

    &:hover{
      background: #004cd1;
    }

}




.arrow-up__img{
  width: 100%;

}

.arrow-up__pic{
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

