extends ../_template

block title
    | Блог

block content
    .wrapper
        section.section-about.about-parallax
            include ../common/socials
            include ../common/hamburger
            .bg-parallax
                img(src='assets/img/parallax.jpg')
            .stars-parallax
                img.stars(src='assets/img/stars1.svg')
            .user__hero-parallax.user
                .user__pic
                    img.user__pic-item(src='assets/img/face.jpg')
                .user__name БЛОГ
                .user__desc Статьи, которые я написала

        section.section.blog
            svg(height ="150px" width="100%" viewbox="0 0 1000 85" preserveAspectRatio='none').blog__triangle
                polygon(points="0,0 0,86 500.8,86 500.8,75.5").left__triangle
                polygon(points="1000,0 1000,86 500,86 500,75.5").right__triangle
            .blog-container
                aside.sidebar
                    nav.blog-menu
                        ul.blog-menu__list
                            li.blog-menu__item
                                a.blog-menu__link.blog-menu__link_active(href='#post1') Самое важное в sass
                            li.blog-menu__item
                                a.blog-menu__link(href='#post') Приёмы в вёрстке, без которых не обходится ни один сайт
                            li.blog-menu__item
                                a.blog-menu__link(href='#post') Статья
                section.articles
                    ul.articles__list
                        li.articles__item
                            article.post
                                header.post__head
                                    .post__title Самое важное в sass
                                    .post__date 22 ноября 2016
                                .post__content
                                    p
                                        | Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                    p
                                        | Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                                    pre.code-viewer
                                        code
                                            <div id="foo">
                                            <div id="bar">test</div>
                                            </div>
                                    .post-line
                        li.articles__item
                            article.post
                                header.post__head
                                    .post__title Приёмы в вёрстке, без которых не обходится ни один сайт
                                    .post__date 22 ноября 2016
                                .post__content
                                    p
                                        | Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                    p
                                        | Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                                    .post-line
                        li.articles__item
                            article.post
                                header.post__head
                                    .post__title Статья
                                    .post__date 22 ноября 2016
                                .post__content
                                    p
                                        | Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                    p
                                        | Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.

        section.blog-footer
            include ../common/footer


