extends ../_template

block title
    | Блог

block content
    .wrapper
        .preloader
            .preloader__content
                .preloader__animation
                .preloader__percent 0%
        section.section-about.about-parallax
            include ../common/socials
            include ../common/hamburger
            .bg-parallax
            .starses.stars-parallax__layer
            .twinkling
            .clouds.stars-parallax__layer
            .stars-parallax
                img.stars(src='assets/img/stars1.svg')
            .user__hero-parallax.user
                .user__pic
                    img.user__pic-item(src='assets/img/face.jpg')
                .user__name БЛОГ
                .user__desc Статьи, которые мне интересны (возможно, скоро тут появятся и статьи, написанные мной)
            include ../common/arrow-down_second

        section.blog
            svg(height ="150px" width="100%" viewbox="0 0 1000 85" preserveAspectRatio='none').blog__triangle
                polygon(points="0,0 0,86 500.8,86 500.8,75.5").left__triangle
                polygon(points="1000,0 1000,86 500,86 500,75.5").right__triangle
            .blog-container
                .blog__tabs
                    ul.blog__tabs-list
                        li.blog__tabs-item
                            a.blog-menu__link.blog-menu__link_active(href='#post1') Самое важное в sass
                        li.blog__tabs-item
                            a.blog-menu__link(href='#post2') Приёмы в вёрстке, без которых не обходится ни один сайт
                        li.blog__tabs-item
                            a.blog-menu__link(href='#post3') Статья
                    .sidemenu-btn.sidemenu-btn_disabled
                section.articles
                    ul.articles__list
                        li.articles__item#post1
                            article.post
                                header.post__head
                                    .post__title Самое важное в sass
                                    .post__date 22 ноября 2016
                                .post__content
                                    p
                                        | Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                    p
                                        | Не стоит, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                                    pre.code-viewer
                                        code.
                                            &lt;div id="foo"&gt;
                                            &lt;div id="bar"&gt;test&lt;/div&gt;
                                            &lt;/div&gt;
                                    .post-line
                        li.articles__item#post2
                            article.post
                                header.post__head
                                    .post__title Приёмы в вёрстке, без которых не обходится ни один сайт
                                    .post__date 22 ноября 2016
                                .post__content
                                    p
                                        | Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                    p
                                        | Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                                    .post-line
                        li.articles__item#post3
                            article.post
                                header.post__head
                                    .post__title Статья
                                    .post__date 22 ноября 2016
                                .post__content
                                    p
                                        | Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                    p
                                        | Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                                    p
                                        | Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
        section.blog-footer
            include ../common/footer


