extends ../_template

block title
    | Портфолио

block content
    .wrapper
        section.section.hero
            .hero-background
                img(src='assets/img/background.jpg').hero__bg-img
            .hero__container
                img(src='assets/img/stars.png').hero-title-pic

                include ../common/avatar-all
            include ../common/arrow-down
            include ../common/socials
            include ../common/hamburger




        section.section.about
            .about__col.about__col_left
                svg(viewbox="0 0 1000 110" preserveAspectRatio='none').about__triangle
                    polygon(points="0,0 0,110 1000, 110")
                .section-title(style="background-image: url('assets/img/stars2.png')")
                    | Обо мне
                .about-user
                    .about__pic
                        img(src='assets/img/face2.jpg').about__img
                    .block-title Кто я
                    .block-text
                        p Я веб-разработчик из Гродно, Беларусь. Мне 28 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                    .block-text
                        p Этот сайт я сделала в рамках обучения в Школе онлайн образования Loftschool. Чуть позже я освежу в нем свой контент. А пока посмотрите, как тут все классно и красиво!

            .about__col.about__col_right
                svg(viewbox="0 0 1000 110" preserveAspectRatio="none").about__triangle
                    polygon(points="0,110 1000,110 1000,0")
                .skills
                    .block-title Чем я могу быть вам полезна

                    .skills__text
                        p Больше всего меня привлекает Frontend разработка, но я также знакома и могу решать не сложные задачи на Backend. Но давайте попорядку.


                    -
                        skills = [
                        {
                        title: "Frontend",
                        technologies: ['HTML5', 'CSS3', 'JavaScript & jQuery']
                        },
                        {
                        title: "Backend",
                        technologies: ['PHP', 'mySQL', 'Node.js & npm', 'Mongo.db']
                        },
                        {
                        title: "WorkFlow",
                        technologies: ['Git', 'Gulp', 'Bower']
                        }
                        ]


                    ul.skills-group
                        each skill in skills
                            li.skills-group__item
                                .skills-group__title= skill.title
                                ul.skills-list
                                    each tech in skill.technologies
                                        li.skills-list__item
                                            .skill
                                                svg.skill__circle(viewBox="0 0 100 100")
                                                    circle(r="40" cx="50%" cy="50%").skills__circle-under
                                                    circle(r="40" cx="50%" cy="50%").skills__circle-above
                                                    .skill_title= tech



        section.section.map
            include ../common/contacts
            //include ../common/footer
