extends ../_template

block title
    | Welcome

block content
    .welcome-wrapper
        .preloader
            .preloader__content
                .preloader__animation
                .preloader__percent 0%

        .page-wrapper
            video(src="assets/img/night.mp4", controls="controls" autoplay="autoplay" loop="loop").bg-video
            .background-welcome.parallax#parallax
                .parallax-layer
                .parallax-layer.parallax-layer_img

            .contain
                .contain-welcome
                    .c-button
                        .c-button-auth#auth Авторизоваться
                    .avatar
                        .flip-container
                            .flipper
                                .front
                                    .l-wrapper-avatar
                                        include ../common/avatar
                                        include ../common/socials-welcome
                                        include ../common/menu-welcom
                                .back
                                    .inner-container
                                        .inner-title
                                            | АВТОРИЗУЙТЕСЬ
                                        .auth__form
                                            form(action="" method="" id="auth-form")
                                                .form__container
                                                    .wrapper-input.input-group.input-group_iconed
                                                        input.form-input(type="text" placeholder="Логин")
                                                        .input-group__icon-field
                                                            svg.input-group__icon
                                                                use(xlink:href='assets/img/sprite.svg#login')
                                                    .wrapper-input.input-group.input-group_iconed
                                                        input.form-input(type="password" placeholder="Пароль")
                                                        .input-group__icon-field
                                                            svg.input-group__icon
                                                                use(xlink:href='assets/img/sprite.svg#password')
                                                    .checkbox-inner
                                                        label.checkbox
                                                            input.checkbox__fake(type="checkbox")
                                                            .checkbox__label Я человек
                                                    .auth-form__radio.radio-group
                                                        .radio-group__title Вы точно человек?
                                                        .radio-group__inputs
                                                            label.radio-btn
                                                                input.radio-btn__fake(type="radio" name="robot" value="yes")
                                                                .radio-btn__label Да
                                                            label.radio-btn
                                                                input.radio-btn__fake(type="radio" name="robot" value='no')
                                                                .radio-btn__label Не уверен
                                                    .input-error-msg

                                                .auth-form__buttons.form__buttons
                                                    button.form__btn.return-btn(type="button") На главную
                                                    button.form__btn(type="submit") Войти


                .c-wrapper-avatar__copyright
                    span.autor &copy; Лайковская Валентина | создано с любовью в Loftschool | 2016
                .welcome__error
                    .input-error-captcha
                        .input-error-captcha__close
                        .input-error-captcha__text Роботам здесь делать нечего!

