extends ../_template

block title
    | Welcome

block content
    .wrapper
        .l-image-bg
        button.c-button.c-button-auth Авторизоваться

        .l-wrapper-avatar
            include ../common/avatar
            include ../common/socials-welcome
            include ../common/menu-welcom
        .c-wrapper-avatar__copyright
            p &copy; Лайковская Валентина | создано с любовью в Loftschool | 2016

