extends ../_template

block title
    | Welcome

block content

        button.c-button.c-button-auth Авторизоваться
        .avatar
            .l-wrapper-avatar
                include ../common/avatar
                include ../common/socials-welcome
                include ../common/menu-welcom
            .l-wrapper-rocks
                img.rock(src='assets/img/Layer.png')
            .c-wrapper-avatar__copyright
                span.autor &copy; Лайковская Валентина | создано с любовью в Loftschool | 2016
            video.video#video-on-bg(autoplay='', loop='', poster='')
                source(src='assets/img/night.mp4', type='video/mp4', width='100%', height='600px')

