extends ../_template

block title
    | Мои работы

block content
    .wrapper
        section.section-about.about-parallax
            include ../common/socials
            include ../common/hamburger
            .bg-parallax
                img(src='assets/img/parallax.jpg')
            include ../common/avatar-all
                .arrow_ar
                    a.arrow-down__img(href="", target='_blank')
                        svg.arrow-down__pic
                            use(xlink:href='assets/img/sprite.svg#portf_arrow_down')

            section.works__col
                svg.triangle( height="150px" width="100%" viewbox='0 0 1000 85', preserveaspectratio='none')
                    polygon.left(points='0,0 0,86 500.8,86 500.8,75.5')
                    polygon.right(points='1000,0 1000,86 500,86 500,75.5')
                .section-title__works
                    .main-title МОИ РАБОТЫ
                    img.stars2(src='assets/img/stars2.png')

        section.portfolio
            .column.column_left.portfolio__column
                .work__slider
                    .work__preview
                        img.work__pic(src="assets/img/work.png")
                    .work
                        .block-title
                            | Сайт школы онлайн
                            br
                            | образования
                        .work__technology html, css, javascript
                        a.work__link(href='#') Посмотреть сайт
                            svg.work__icon
                                use(xlink:href='assets/img/sprite.svg#link')

            .column.column_right.portfolio__column
                .work__toggle
                    .work__prev.toggle.column.column_left
                        a.toggle__link.toggle__link_prev(href='#')
                            svg.toggle__icon
                                use(xlink:href='assets/img/sprite.svg#portf_arrow_down')
                        img.toggle__pic(src='assets/img/work.png')
                    .work__next.toggle.column.column_right
                        a.toggle__link.toggle__link_next(href='#')
                            svg.toggle__icon
                                use(xlink:href='assets/img/sprite.svg#portf_arrow_up')
                        img.toggle__pic(src='assets/img/work.png')
        section.section.about-me
            .section-title__work
                .main-title ЧТО ОБО МНЕ ГОВОРЯТ
                img.stars2(src='assets/img/stars2.png')
            .section-opinion
                .opinion
                    .opinion__img
                        img(src='assets/img/dima.png').opinion__pic
                    .opinion__text
                        p Валентина проходила обучение не где-то, а в Loftschool! Пять недель хардкорных испытаний и тяжелых ночей.
                    .opinion__text-author
                        span.text Ковальчук Дмитрий
                        p - основатель Loftschool
                .opinion
                    .opinion__img
                        img(src='assets/img/vova.png').opinion__pic
                    .opinion__text
                        p Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах!
                    .opinion__text-author
                        span.text Сабанцев Владимир
                        p - преподаватель

                include ../common/contact-me
            include ../common/footer


