extends ../_template

block title
    | Мои работы

block content
    .wrapper
        section.section-works
            .hero-background
                img(src='assets/img/background.jpg').hero__bg-img
            .hero__container
                img(src='assets/img/stars.png').hero-title-pic

                include ../common/avatar-all
            include ../common/arrow-down
            include ../common/socials
            include ../common/hamburger

        section.works__col
            .left
                svg(viewbox="0 0 1000 110" preserveAspectRatio='none').about__triangle
                    polygon(points="0,0 0,110 1000, 110")
            .right
                svg(viewbox="0 0 1000 110" preserveAspectRatio="none").about__triangle
                    polygon(points="0,110 1000,110 1000,0")
            .section-title__works(style="background-image: url('assets/img/stars2.png')")
                | МОИ РАБОТЫ




        section.section.about-me
            .section-title__works(style="background-image: url('assets/img/stars2.png')")
                | ЧТО ОБО МНЕ
                | ГОВОРЯТ
            .section-opinion
                .opinion
                    .opinion__img
                        img(src='assets/img/dima.png').opinion__pic
                    .opinion__text
                        p Валентина проходила обучение не где-то, а в Loftschool! Пять недель хардкорных испытаний и тяжелых ночей.
                    .opinion__text-author
                        span.text Ковальчук Дмитрий
                        p - основатель Loftschool
            .section-opinion
                .opinion
                    .opinion__img
                        img(src='assets/img/vova.png').opinion__pic
                    .opinion__text
                        p Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах!
                    .opinion__text-author
                        span.text Сабанцев Владимир
                        p - преподаватель

            //include ../common/contact-me
            //include ../common/footer


